// Global default params, used in configs
params {

    outdir = "output/"
    publish_dir_mode = "copy" // copy
    enable_conda = true

    // Input options
    input                      = null

    // Defaults only, expecting to be overwritten
    max_memory                 = '20.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
//includeConfig 'conf/modules.config'


profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    no_conda {
        params.enable_conda    = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    test      { includeConfig 'conf/test.config'      }
}

