includeConfig 'VERSION'

manifest {
    homePage = 'https://github.com/agalitsyna/RedClib'
    mainScript = 'redc.nf'
}

profiles {
    standard {
        includeConfig "configs/local.config"
    }
}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}