params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run CI
    max_cpus   = 10
    max_memory = '12.GB'
    max_time   = '6.h'

    publish_dir_mode = 'copy'

    // Input data
    input = '/home/agalicina/soft/RedClib/redc_modules/samplesheet.csv'                                    //required
    chunksize = 5000                                                                                       //optional

    genome {
        assembly = 'hg38'                                                                                   //required
        auto_download_genome = false                                                                        //optional
        chromsizes = '/home/agalicina/soft/RedClib/redc_modules/output/genome/hg38.chromsizes.txt'          //optional
        index_prefix = '/home/agalicina/soft/RedClib/redc_modules/output/genome/hg38.fa'                    //optional
        fasta = '/home/agalicina/soft/RedClib/redc_modules/output/genome/hg38.fa'                           //optional
        genes_gtf = 'ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.chr_patch_hapl_scaff.annotation.gtf.gz' //required
        rna_annotation_suffix = '.gencode.v19'                                                              //optional
    }

    check_restriction = false
    protocol {
        renzymes = ['DpnII', 'HindIII', 'MmeI']
    }
    dedup_crop_length = 50

    params_trimmomatic = "SLIDINGWINDOW:5:26 MINLEN:0"

    //modules {
    //    'prepare_genome' {
    //        publish_files   = ['log':'log']
    //    }
    //    'hisat2_align' {
    //        args            = '--met-stderr --new-summary --dta'
    //        publish_files   = ['log':'log']
    //    }
    //}

}