params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run CI
    max_cpus   = 10
    max_memory = '12.GB'
    max_time   = '6.h'

    publish_dir_mode = 'copy'
    
    // Input data
    input = '/home/agalicina/soft/sandbox/RedClib_dsl2_test/samplesheet.csv' // required, here or in another config file
    chunksize = 1000 // optional

    genome {
        assembly = 'hg38' // required, here or in another config file
        genes_gtf = 'ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.chr_patch_hapl_scaff.annotation.gtf.gz' // required
    }

}