params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run CI
    max_cpus   = 10
    max_memory = '12.GB'
    max_time   = '6.h'

    publish_dir_mode = 'copy'

    // Input data
    input = '/home/agalicina/soft/sandbox/RedClib_dsl2_test/samplesheet.csv'                                    //required
    chunksize = 5000                                                                                       //optional

    genome {
        assembly = 'hg38'                                                                                   //required
        auto_download_genome = false                                                                        //optional
        chromsizes = '/home/agalicina/soft/sandbox/RedClib_dsl2_test/data/genome/hg38.reduced.chrom.sizes'  //optional
        index_prefix = '/home/agalicina/soft/sandbox/RedClib_dsl2_test/data/genome/hg38'                    //optional
        fasta = '/home/agalicina/soft/sandbox/RedClib_dsl2_test/data/genome/hg38.fa'                        //optional
        genes_gtf = 'ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.chr_patch_hapl_scaff.annotation.gtf.gz' //required
        rna_annotation_suffix = '.gencode.v19'                                                              //optional
        restricted {       // optional. might be not the full list:
            DpnII   = './output/genome/hg38.DpnII.bed'
            HindIII = './output/genome/hg38.HindIII.bed'
//            MmeI    = './output/genome/hg38.MmeI.bed'
        }
    }

    check_restriction = true
    protocol {
        renzymes = ['DpnII', 'HindIII', 'MmeI']
    }

    dedup_crop = 50
    trimmomatic_params = "SLIDINGWINDOW:5:26 MINLEN:0"

    oligos {
        bridge_forward = './data/oligos/br_37_for.fasta'
        bridge_reverse = './data/oligos/br_37_rev.fasta'
        ggg = './data/oligos/ggg.fasta'
        adaptor_forward = './data/oligos/for_20.fasta'
        adaptor_reverse = './data/oligos/rev_20.fasta'
        adaptor_reverse_short = './data/oligos/rev_16.fasta'
    }

    //modules {
    //    'prepare_genome' {
    //        publish_files   = ['log':'log']
    //    }
    //    'hisat2_align' {
    //        args            = '--met-stderr --new-summary --dta'
    //        publish_files   = ['log':'log']
    //    }
    //}

}