process {

    executor='local'
    cpus = 8
    memory = 10000000
    maxRetries = 2

    errorStrategy = { task.exitStatus==1 && task.attempt<=${maxRetries} ? 'retry' : 'ignore' }

}

executor {
    cpus = 20
}


docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
    temp = 'auto'
}
