process {

    executor='local'
    cpus = 2
    memory = 10000000
    maxRetries = 2

    // errorStrategy = 'retry'
    errorStrategy = { task.exitStatus==1 && task.attempt<=${maxRetries} ? 'retry' : 'ignore' }

    // tmpDir='./'

    /*
    withName: get_scalings {
        cpus = 5
        memory = 10000000
        maxForks = 10
    }
    */

}

executor {
    cpus = 20
}


docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
    temp = 'auto'
}
