process {

    executor='local'
    cpus = 1
    memory = 10000000
    maxRetries = 5

    errorStrategy = { task.exitStatus==1 && task.attempt<=${maxRetries} ? 'retry' : 'terminate' }

    withName: download_genome {
        cpus = 16
    }
    withName: map_dna_extended {
        cpus = 8
    }
    withName: map_dna_nonextended {
        cpus = 8
    }
    withName: map_rna1 {
        cpus = 8
    }
    withName: map_rna2 {
        cpus = 8
    }
    withName: split_fastq {
        cpus = 8
    }
}

executor {
    cpus = 24
}


docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
    temp = 'auto'
}
